//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// CSS for loading spinner, dont import Home office library.. it introduces too many bugs

#doc-preview {
    padding-bottom: 30px;;
}

.loading {
    border: 12px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    &-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    &-text {
        margin-top: 25px;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


// Add extra styles here

.govuk-header__logo {
    display: none;
}

.iag-blue-banner {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: #1D70B8;
    &-padding {
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
    }
    &-content {
        padding: 50px 0;
    }
    &-text {
        color: #fff;
    }
}