{% extends "layouts/standard.html" %}

{% set pageName="v1.0" %}

{% block beforeContent %}
  <a href="/v1/upload-4" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v1/loading-drs" method="post">
      <span class="govuk-caption-l">New response</span>
      <h1 class="govuk-heading-l">Check your answers before sending the response</h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            HM Courts & Tribunals Service
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have you uploaded the relevant files
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['hmct-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> uploaded the relevant files</span></a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Customer details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National Insurance number
              </dt>
              <dd class="govuk-summary-list__value">
                QQ 12 34 56 C
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Jerry Finland
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                34 Saint Denis<br>Newcastle<br>Northumberland<br>NE4 5GG
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Representative
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Representative details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Ron Howard
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                11 Strawberry road<br>Newcastle<br>Northumberland<br>NE4 3RD
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Response details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Presenting Officer required?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['presenting-officer-check'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Presenting Officer required</span></a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Documents
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                FTA Response
              </dt>
              <dd class="govuk-summary-list__value">
                Response Jerry F.pdf
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> FTA Response</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                AT38
              </dt>
              <dd class="govuk-summary-list__value">
                AT38 Jerry F.pdf
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> AT38</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Customer cover letter
              </dt>
              <dd class="govuk-summary-list__value">
                PIP2010 customer Jerry F.pdf
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> PIP2010 customer Jerry F.pdf</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Representative cover letter
              </dt>
              <dd class="govuk-summary-list__value">
                PIP2010 rep Howard R.pdf
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Representative cover letter</span></a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-visually-hidden">
            Have you entered the correct information?
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="confirm-check" name="confirm" type="checkbox" value="I confirm">
              <label class="govuk-label govuk-checkboxes__label" for="confirm">
                I can confirm the above details are correct.
              </label>
            </div>
          </div>
        </fieldset>
      </div>
  
      <button id="send-response" type="submit" class="govuk-button" data-module="govuk-button" disabled>
        Send response
      </button>
    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/check-answers.js"></script>
{% endblock %}