{% extends "layouts/standard.html" %}

{% set pageName="v1.0" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">New response</span>
    <h1 class="govuk-heading-l">Retrieving customer details...</h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="loading-container">
      <div class="loading" aria-live="polite" role="status"></div>
      <br />
      <p class="govuk-body loading-text">Please wait while we load customer details</p>
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/page-load-customer.js"></script>
{% endblock %}