{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  <header data-module="govuk-header" class="dwp-header">
    <div class="dwp-header__content govuk-width-container">
      <div class="dwp-header__service-name">
        <a href="/" class="dwp-header__link">Bundle Builder</a>
      </div>
      <nav class="dwp-header-navigation" aria-label="Primary">
        <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul id="navigation" class="dwp-header-navigation__list">
          <li class="dwp-header-navigation__item">
            <a href="/v1/home">
              Bundles
            </a>
          </li>
          <li class="dwp-header-navigation__item">
            <a href="#">
              Profile
            </a>
          </li>
          <li class="dwp-header-navigation__item">
            <a href="#">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
{% endblock %}